@layer {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    -webkit-font-smoothing: antialiased;
    line-height: calc(1em + 0.5rem);
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    height: auto;
    font-style: italic;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  table {
    border-collapse: collapse;
  }

  #root,
  #__next {
    isolation: isolate;
  }

  @media (prefers-reduced-motion: no-preference) {
    :has(:target) {
      scroll-behavior: smooth;
    }
  }
}

/* @layer {
  * {
    box-sizing: border-box;
    outline: 1 px solid limegreen !important;
  }
} */

/* @layer {
  * {
    box-sizing: border-box;
    background: rgb(0 100 0 / 0.1) !important;
  }
} */
